/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Inter', serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap') format('truetype');
}

.title {
  font-family: 'Kaisei Decol', serif;
  src: url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap') format('truetype');
  font-weight: bold;
  font-size: 36px;
}

p, h1, h2, h3, h4, h5, h6, a, table {
  box-shadow: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 1px;
}

.sombra {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 1px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.titulo {
  background-color: #333A40;
  color: white;
}

.contenedor {
  margin-left: 80px;
  margin-right: 40px;
}

.banner{
  margin-top: 30px;
  width: 100%;
  padding-right: 15px;
}

table {
  margin-left: 20px;
}

.contenedor-componente {
  margin-top: 10px;
  margin-bottom: 100px;
  width: 60%;
  float: left;
  margin-right: 40%;
}

.footer {
  text-align: center;
  font-weight: 900;
  width: 100%;
  margin-top: 50px;
}

.total-plantas p {
  margin: 0;
}

.total-plantas {
  margin-top: 20px;
}
