<table class="table">
  <thead class="thread-black titulo">
    <tr class="sombra">
      <th scope="col">#</th>
      <th scope="col">Nombre común</th>
      <th scope="col">Tipo</th>
      <th scope="col">Clima</th>
    </tr>
  </thead>
  <tbody>
    <tr class="sombra" *ngFor="let plant of plants">
      <th scope="row">{{ plant.id }}</th>
      <td>{{ plant.nombre_comun }}</td>
      <td>{{ plant.tipo }}</td>
      <td>{{ plant.clima }}</td>
    </tr>
  </tbody>
  <div class="total-plantas">
    <p>Total plantas de interior: {{ indoorPlants }}</p>
    <p>Total plantas de exterior: {{ outdoorPlants }}</p>
  </div>
</table>
